:host {
	display: grid;
	grid-template-columns: 2rem auto 2rem;
	grid-template-rows: 2rem auto;	
	background: #fff;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	height: calc(100vh - 2rem);
	border-radius: .5rem .5rem 0 0;
	box-shadow: 0 3px 8px 0 rgba(12, 0, 51, 0.1);
	#brainti {
		height: 50px;
		width: auto;
	}
	.main-content {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: repeat(4, 25%);			
		.left-block {
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 5;
			background-color: #007bff;	
		}
		.block {
		    grid-column-start: 3;
		    grid-column-end: 5;
		    grid-row-start: 2;
		    grid-row-end: 4;
			background-color: #007bff;				
			box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
		}
	}
}
/*5694CE     588ECC  7BDEF1*/