:host {
	background: #fff;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	height: calc(100vh - 2rem);
	border-radius: .5rem .5rem 0 0;
	box-shadow: 0 3px 8px 0 rgba(12, 0, 51, 0.1);

		display: grid;
		grid-template-columns: repeat(5, 20%);
		grid-template-rows: 3rem 1fr 1fr 1fr 1fr 3rem;		
	#brainti {
		height: 50px;
		width: auto;
	}
	.main-content {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 7;
		background-color: #007bff;
		border-top-left-radius: .5rem;
		padding: 6rem 6rem 2rem 6rem;
		color: #fff;
		h1 {
			font-size: 2.5rem;
			line-height: 3rem;
			font-weight: 900;
			margin: 0;			
		}
		h1, p {
			width: 500px;
		}
		p {
			color: rgba(255, 255, 255, 0.5);
		}
	}
	.foo {
	    grid-column-start: 3;
	    grid-column-end: 5;
	    grid-row-start: 3;
	    grid-row-end: 5;
	    background: url('../../../assets/developer.jpg') no-repeat center center;
	    background-size: 100% auto;
		box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);	
	}
}
