:host {
	display: block;
	background-color: #fbfcff;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	height: 100vh;
	border-radius: .5rem .5rem 0 0;
	-webkit-box-shadow: 0px 0px 41px 2px rgba(135,135,135,1);
	-moz-box-shadow: 0px 0px 41px 2px rgba(135,135,135,1);
	box-shadow: 0px 0px 41px 2px rgba(135,135,135,1);
	#brainti {
		height: 50px;
		width: auto;
	}
}