.brainti {
	&__container {
		display: grid;
		grid-template-rows: 2rem 2rem auto;
		grid-template-columns: 2rem 3rem auto 3rem 2rem;
	}
	&__maite {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 4;
		grid-row-end: 4;
		background-color: red;		
	}
}